body{
    text-align: center;
}
#principal{
    background-color: aqua;
}
img{
    width: 400px;
    height: 400px;
}
#myCarousel img{
    margin-top: 30px;
 height: 300px;
 margin-top: 35 px;
}
#myCarousel{
    background-color: blue;
}
.carousel-inner p{
    margin-top: 15px;
    color: deeppink;
    font-size: 20px;
}
